.rst-versions.rst-badge {
    display: block;
}

.rst-other-versions {
    text-align: left;
}

.rst-other-versions a {
    border: 0;
}

.rst-other-versions dl {
    margin: 0;
}


/* Fix RTD theme bottom margin */
.rst-content .line-block {
    margin-bottom: 24px
}

/* Fix for nav bottom padding with flyout */
nav.wy-nav-side {
    padding-bottom: 3em;
}

/* bookmark icon */
.bookmark-added-msg {display: none;}
.bookmark-active {display: none;}
.bookmark-inactive {display: none;}

